:root { 
    --color-primary: #28AE60;
    --color-secondary: #eb5757;
    --grey-600: #333333;
    --grey-300: #828282;
    --grey-100: #e0e0e0;
    --grey-0: #f5f5f5;
    --font-inter: 'Inter', sans-serif;
    --font-size1: 26px;
    --font-size2: 22px;
    --font-size3: 18px;
    --font-size4: 16px;
    --font-size5: 14px;
    --font-size6: 12px;
}

